body{
    margin-top: 15px;
    width: 100%;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
}
div.carousel-inner{
    max-height: 450px;
}

@media (min-width: 1170px){
    
    div.carousel-inner{
        max-height: 650px;
    }
}
div.container{
    padding-top: 50px;
}
nav{
    z-index: 5;
}
.row{
    margin-bottom: 30px;
    padding: 10px;
    border: 1px;
    border-style:solid;
    border-radius: 10px;
    border-color: lightgray;
}
#imgfooter{
    width: 100%;
}