body{
    margin-top: 15px;
    width: 100%;
    height: 100%;
    font-family: 'Playfair Display', serif;
}
div.carousel-inner{
    max-height: 450px;
}

@media (min-width: 1170px){
    
    div.carousel-inner{
        max-height: 650px;
    }
}
div.container{
    padding-top: 15px;
}
nav{
    padding: 5px;
    z-index: 5;
}
.row{
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px;
    border-style:solid;
    border-radius: 10px;
    border-color: lightgray;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}
#localizacao{
    height: 500px;
}
#imgfooter{
    width: 100%;
}